.layout-emater {
    display: flex;
    flex-direction: column;
    /* Header em cima */
    min-height: 100vh;
}

/* Parte de baixo: aside + conteúdo */
.layout-inferior {
    display: flex;
    flex: 1;
}

/* Aside fixo na lateral esquerda */
.conteudo-principal {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #1a240c;
    color: #fff;
    /* só pra destacar, pode trocar */
}